header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: aliceblue;
    transition: all 1s ease-out;
}

.bg-opacity{
    background-color: rgba(255,255,255,80%);
}

nav {
    width: 100%;
    max-width: 50vh;
    text-align: end;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

li {
    margin: 3px;
}
li a{
    text-decoration: none;
    font-size: larger;
}
